body {
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header {
    font-size: 16px;
}
.coursename {
    width: 200px;
    height: 70px;
    padding: 20px;
}