body {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: monospace;
    /* background-color: blanchedalmond; */
}
#header {
    font-size: 20px;
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    padding-bottom: 5px;
    /* float: left; */
}
a {
    color: darkblue;
}
a:visited {
    color: blue;
}

#mid {

    /* float: left; */
    padding-top: 50px;
    width: 100%;
}
.course {
    /* width: 200px;
    height: 70px; */
    float: inline-start;
    padding: 20px;
}
.coursetitle {
    font-size: 18px;
}
.coursebody {
    padding: 5px;
}
.htitle {
    padding-left: 30px;
    width: 150px;
    float: left;
}
#logo {
    margin-left: 12px;
    background-color: black;
    float: left;
}
#logoimg {
    width: 40px;
    height: 40px;
}